nav .register_pages{
  margin-top: 30px;
  border: 1px solid;
  border-color: #adadad;
  /* border-top: 0; */
  /* border-bottom-right-radius: 30px; */
  border-radius: 30px;
}
nav .logo_img{
  max-height: 90px;
}
.index_find_title{
  text-align: center;
  color: #ff8619;
}
.index_getstarted{
  padding: 2%;
  background-color: #4880b4;
  color: white;
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
}
.index_findnow{
  padding: 2%;
  background-color: #214c83;
  color: white;
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
}
.find_now{
  min-width: 50%;
  margin-top: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 11px;
}
.index_review{
  background-color: #f6f6f6;
  padding: 10px;
}
.index_review img{
  max-height: 100px;
}
.index_search_block a{
  color: #6c6c6c;
}
.index_other_search_block a{
  color: #ffaa1a;
  text-decoration: none;
}
.search_header_1{
  background-color: #214c83;
  color: white;
  padding: 10px;
}
.search_header_2{
  background-color: #4880b4;
  color: white;
  padding: 10px;
}
.search_loading{
  height: 300px;
  background-image: url('../images/application/preloader.gif');
  background-repeat: no-repeat;
  background-position: center;
}
.dr_info .search_select_schedual,.search_select_schedual{
  color: #ff9027;
  cursor: pointer;
}
.dr_info .search_select_schedual b, .dr_info .search_select_schedual h3,.search_select_schedual b,.search_select_schedual h3{
  display: inline;
}
.dr_name{
  font-size: 16px;
  font-weight: bold;
  font-style: inherit;
  font-family: sans-serif;
  color: #00aac6;
}
.dr_info img{
  max-height: 140px;
  margin: 0 auto;
  display: block;
}
#schedual_model table{
  border-spacing: 1px;
  border-collapse: separate;
}
#schedual_model table thead tr th{
  background-color: #4880b4;
  color: white;
  border-bottom: 0;
}
#schedual_model table tbody tr .schedual_timing{
  text-align: center;
  padding: 0;
  background-color: yellowgreen;
}
#schedual_model table tbody tr .schedual_timing a{
  color:white
}
.dr_profiles img{
  display: block;
  margin: 0 auto;
}
.dr_full_info hr,.login_page hr{
  margin-top: 2px;
  margin-bottom: 2px;
}
.register form .input-group{
  margin-top: 10px;
}
.register{
  margin-top: 50px;
  margin-bottom: 50px;
}
.register .box{
  background-color: #4981b6;
  border: 1px solid #467bad;
  color: white;
  text-align: center;
  margin-top: 10px;
}
.register .box:hover{
  background-color: #214c83;
  border: 1px solid #467bad;
  cursor: pointer;
  text-decoration: none;
}
.callout {
  border-radius: 3px;
  margin: 0 0 20px 0;
  padding: 15px 30px 15px 15px;
  border-left: 5px solid #eee;
}
.callout-danger{
  background-color: #dd4b39 !important;
  border-color: #c23321;
  color: white;
}
.callout-info {
  background-color: #00c0ef !important;
  border-color: #0097bc;
  color: white;
}
.footer{
  background-color: #214c83;
  color: white;
  height: auto;
}
.footer .top_doctor h4{
  letter-spacing: 1px;
}
.footer b{
  text-align: center;
}
.footer a{
  color: white;
  text-decoration: none;
  text-align: left;
}
.footer a:hover{
  text-decoration: underline;
}
@-moz-document url-prefix() {
  fieldset { display: table-cell; }
}
.GEE3RVNDB4 {
  padding: 10px 16px;
  background: #edf4ff;
  border: 1px solid #cdd4ef;
  padding-top: 2px;
  padding-bottom: 0px;
}
.GEE3RVNDM3{
  background: none repeat scroll 0 0 #edf4ff;
  border: 1px solid #cdd4ef;
  display: block;
  height: 12px;
  left: -23px;
  position: relative;
  top: 6px;
  width: 12px;
  transform: rotate(45deg);
  z-index: 4;
  -webkit-transform: rotate(45deg);
}
.GEE3RVNDN3 {
  background: none repeat scroll 0 0 #edf4ff;
  display: block;
  height: 40px;
  left: 16px;
  position: absolute;
  right: 75px;
  top: 5px;
  width: 10px;
  z-index: 5;
}
.input_required{
  color: orangered;
}
.hidden_class{
  display: none;
}
.rating_start_active{
  content: "\f005";
  color: #ffb244;
}
